<div class='footer'>
  <%# <div class='footer-contents'> %>
    <%# <div class='furima-details'>
      <h2 class='footer-content-head'>wegについて</h2>
      <ul>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %>
        <%# <li><%= link_to 'weg利用規約', "#", class: "footer-link" %>
        <%# <li><%= link_to 'お問い合わせ', "#", class: "footer-link" %>
      <%# </ul>
    </div>  %>
    <%# <div class='furima-details'>
      <h2 class='footer-content-head'>wegを見る</h2>
      <ul>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %>
        <%# <li><%= link_to 'ブランド一覧', "#", class: "footer-link" %>
      <%# </ul>
    </div> %>
    <%# <div class='furima-details'>
      <h2 class='footer-content-head'>wegについて</h2>
      <ul>
        <li><%= link_to 'wegガイド', "#", class: "footer-link" %>
        <%# <li><%= link_to 'wegロゴ利用ガイドライン', "#", class: "footer-link" %>
        <%# <li><%= link_to 'お知らせ', "#", class: "footer-link" %>
      <%# </ul>
    </div>
  </div>  %>
  <%= link_to "Weg", root_path, class:"logo-white" %>
</div>